<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.opengl</string>
	<key>Concrete</key>
	<true/>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaApplicationBase</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>PublicOpenGLHeaderPath</key>
			<string>$(SRCROOT)/你的项目名</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>$(PublicOpenGLHeaderPath)/include/**</string>
			<key>LIBRARY_SEARCH_PATHS</key>
			<string>$(PublicOpenGLHeaderPath)/include/</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Nodes</key>
			<array>
				<string>main.cpp</string>
			</array>
			<key>Definitions</key>
			<dict>
				<key>main.cpp</key>
				<dict>
					<key>Path</key>
					<string>main.cpp</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.openglTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/../Frameworks</string>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>OpenGL</string>
				<string>GLUT</string>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>main.cpp</string>
		<string>include/GL</string>
		<string>include/GLBatch.h</string>
		<string>include/GLBatchBase.h</string>
		<string>include/GLFrame.h</string>
		<string>include/GLFrustum.h</string>
		<string>include/GLGeometryTransform.h</string>
		<string>include/GLMatrixStack.h</string>
		<string>include/GLShaderManager.h</string>
		<string>include/GLTools.h</string>
		<string>include/GLTriangleBatch.h</string>
		<string>include/StopWatch.h</string>
		<string>include/libGLTools.a</string>
		<string>include/math3d.h</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>main.cpp</key>
		<dict>
			<key>Path</key>
			<string>main.cpp</string>
		</dict>
		<key>include/GL</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/GL</string>
			<key>Nodes</key>
			<array>
				<string>GL/wglew.h</string>
				<string>GL/glxew.h</string>
				<string>GL/glew.h</string>
			</array>
			<key>Definitions</key>
			<dict>
				<key>GL/wglew.h</key>
				<dict>
					<key>Group</key>
					<array>
						<string>GL</string>
					</array>
					<key>Path</key>
					<string>GL/wglew.h</string>
				</dict>
				<key>GL/glxew.h</key>
				<dict>
					<key>Group</key>
					<array>
						<string>GL</string>
					</array>
					<key>Path</key>
					<string>GL/glxew.h</string>
				</dict>
				<key>GL/glew.h</key>
				<dict>
					<key>Group</key>
					<array>
						<string>GL</string>
					</array>
					<key>Path</key>
					<string>GL/glew.h</string>
				</dict>
			</dict>
		</dict>
		<key>include/GLBatch.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/GLBatch.h</string>
		</dict>
		<key>include/GLBatchBase.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/GLBatchBase.h</string>
		</dict>
		<key>include/GLFrame.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/GLFrame.h</string>
		</dict>
		<key>include/GLFrustum.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/GLFrustum.h</string>
		</dict>
		<key>include/GLGeometryTransform.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/GLGeometryTransform.h</string>
		</dict>
		<key>include/GLMatrixStack.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/GLMatrixStack.h</string>
		</dict>
		<key>include/GLShaderManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/GLShaderManager.h</string>
		</dict>
		<key>include/GLTools.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/GLTools.h</string>
		</dict>
		<key>include/GLTriangleBatch.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/GLTriangleBatch.h</string>
		</dict>
		<key>include/StopWatch.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/StopWatch.h</string>
		</dict>
		<key>include/libGLTools.a</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/libGLTools.a</string>
		</dict>
		<key>include/math3d.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/math3d.h</string>
		</dict>
	</dict>
</dict>
</plist>
